<!DOCTYPE html>
<html>
<head>
  <title>All Passengers</title>
</head>
<body>
<%= render partial: "drivers/navigation"%>
<main>
  <h2>All Passengers</h2>
  <%= link_to content_tag(:h3,"Add new rider"), new_passenger_path, method: :get %>
  <ul class = "passengers">
    <% @passengers.each do |passenger|  %>
      <%= link_to content_tag(:li, passenger[:name]), passenger_path(passenger.id), method: :get %>
    <% end %>
  </ul>
</main>
</body>
</html>