<!DOCTYPE html>
<html>
<head>
  <title>Add new rider</title>
</head>
<body>
<header>
  <h1>Ada Rideshare</h1>
  <nav>
    <ul>
      <li>Home</li>
      <%= link_to content_tag(:li, "Riders"), passengers_path, method: :get %>
      <li>Drivers</li>
    </ul>
  </nav>
</header>
<main id = "form">
  <h2>Add new rider</h2>
  <h3>Fill out the below:</h3>
  <%= render partial: "form", locals: { action_name: "New" } %>
</main>
</body>
</html>
