<!DOCTYPE html>
<html>
<head>
  <title>Edit: <%=@driver.name %></title>
</head>
<body>
<%= render partial: "navigation"%>
<h2>Edit: <%=@driver.name %></h2>
<main id = "form">
  <h2>Fill out the below:</h2>
  <%= render partial: "form", locals: { action_name: "Edit" } %>
</main>
</body>
</html>